<!DOCTYPE html>
<html>

<head>

    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='buntool.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@6.5.95/css/materialdesignicons.min.css">
    <script type="importmap">
        {
            "imports": {
                "chrono-node": "https://esm.sh/chrono-node@2.7.5",
                "sortablejs": "https://esm.sh/sortablejs@1.15.2",
                "pdfjs-dist": "https://esm.sh/pdfjs-dist@4.0.379"
            }
        }
    </script>
    <script type="module" src="{{ url_for('static', filename='buntool.js') }}"></script>
    <title>BunTool</title>
</head>

<body>
    <div class="container">
        <div class="app-subtitle">
            simple bundling with
        </div>
        <div class="container">
            <div class="app-header">
                <h1 class="app-title">
                    <span class="text-orange">Bun</span>
                    <img src="{{ url_for('static', filename='buntool.webp') }}" alt="Bun tool Logo"
                        class="logo-img">
                    <span class="text-blue">Tool</span>
                </h1>
            </div>
            <br>
        </div>

        <div class="intro-section">
            <h2> Welcome to BunTool! </h2>
            <p>
                BunTool is a simple tool for creating PDF bundles from several PDF files.
            </p>
            <p>
                Written by a lawyer for use in court, it's perfect for
                making court bundles in the English court system. The tool will automatically tab, index, paginate, hyperlink and bookmark the output file in a few seconds.
                The default settings comply with the guidance for most courts, but there are lots of options to customise the output.
            </p>
            <p>
                Just enter the details, upload your files, choose any options, and click "Create Bundle" below. The PDFs will be combined,
            </p>
        </div>


        <form id="bundleForm" action="/create_bundle" method="POST" enctype="multipart/form-data">
            <div class="card">
                <div class="card-header">
                    <div class="card-icon">
                        <i class="mdi mdi-file-document"></i>
                    </div>
                    <h2 class="card-title">Step 1 - Name your bundle and add optional headers</h2>
                </div>
                <div class="form-grid">
                    <div class="form-group">
                        <label for="bundle_title">Bundle Title:</label>
                        <input type="text" id="bundle_title" name="bundle_title" maxlength="1000"
                            placeholder="e.g. Bundle A: Proceedings">
                    </div>
                    <div class="form-group">
                        <label for="case_name">Case name / project name:</label>
                        <input type="text" id="case_name" name="case_name" maxlength="300"
                            placeholder="e.g. Smith & Ors v Jones & Ors">
                    </div>
                    <div class="form-group">
                        <label for="claim_no">Claim Number / Reference number:</label>
                        <input type="text" id="claim_no" name="claim_no" maxlength="100"
                            placeholder="e.g. Claim No. HP-2025-000123">
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <div class="card-icon">
                        <i class="mdi mdi-file-multiple"></i>
                    </div>
                    <h2 class="card-title">Step 2 - Select files and enter the index content.</h2>
                </div>

                <p>Upload the individual PDFs to be combined into your bundle.</p>
                <p>Sort your index by clicking the table headings, or drag to reorder in the table.</p>
                <p>Click the button to add section markers.</p>
                <p>Check and edit the titles and dates for the index: BunTool will suggest some automatically. </p>

                <label for="fileInput" id="dropZone" class="upload-zone">
                    <i class="mdi mdi-upload upload-icon"></i>
                    <p><span class="drop-text"><b>Upload your PDFs here:</b> Click to select,
                            or
                            drag and drop</p></span>
                </label>
                <input type="file" id="fileInput" name="files" multiple accept=".pdf" class="hidden">
                <div class="progress-container">
                    <div class="progress-bar"></div>
                </div>
                        <div class="loading-indicator" id="loadingIndicator">
                            <i class="mdi mdi-loading mdi-spin mdi-24px"></i> Creating your bundle, please wait...
                        </div>
                <div id="file-table" class="file-table hidden">
                <div id="errorContainer"></div>

                <div class="button-group pt-2">
                    <button type="button" class="secondary" id="btnAddSection">
                        <i class="mdi mdi-plus"></i> Add Section Break
                    </button>
                    <button type="button" class="secondary" id="btnClearAll">
                        <i class="mdi mdi-delete"></i> Clear All Rows
                    </button>
                    </div>

                <table>
                    <thead>
                        <tr>
                            <th class="w-40"><span class="hamburger-icon">☰</span>
                            </th>
                            <th>File</th>
                            <th id="thSortTitle" class="sortable w-500">
                                Title (for bundle index) <i class="mdi mdi-sort"></i>
                            </th>
                            <th id="thSortDate" class="sortable">
                                Date (YYYY-MM-DD for now) <i class="mdi mdi-sort"></i>
                            </th>
                            <th>Pages</th>
                            <th class="w-40">❌</th>
                        </tr>
                    </thead>
                    <tbody id="fileList"></tbody>
                </table>
            </div>
        </div>


            <div class="card">
                <div class="card-header">
                    <div class="card-icon">
                        <i class="mdi mdi-shape-outline"></i>
                    </div>
                    <div class="card-title">
                        <h2 class="card-title">Step 3 - Make it so</h2>
                    </div>
                </div>
                <p>Choose additional options for the index and page numbers, or just use the defaults.</p>
                <div class="form-grid">
                    <div class="form-group dashed-border-orange">
                        <h4>Index options:</h4>

                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <td class="align-top">
                                        <label for="index_font">Font for index:</label>
                                    </td>
                                    <td>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" id="indexFontSans" name="index_font"
                                            checked value="sans" class="radio-align">
                                            <label class="form-check-label font-label font-arial" for="indexFontSans">Sans Serif Helvetica
                                                (similar to MS Arial)(Default)</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" id="indexFontSerif"
                                                name="index_font" value="serif"
                                                class="radio-align">
                                            <label class="form-check-label font-label font-times" for="indexFontSerif">Roman Serif
                                                (Times)</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" id="indexFontMono" name="index_font"
                                                value="mono" class="radio-align">
                                            <label class="form-check-label font-label font-courier" for="indexFontMono">Typewriter-style
                                                (Courier)</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" id="indexFontTraditional"
                                                name="index_font" value="traditional"
                                                class="radio-align">
                                            <label class="form-check-label font-label font-charter" for="indexFontTraditional">Charter (similar to MS Georgia)</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="align-top">
                                        <label for="coversheetInput">Coversheet:</label>
                                    </td>
                                    <td>
                                        <p>Add optional additional PDF before index (e.g. a 1-page coversheet)</p>
                                        <input type="file" id="coversheetInput" name="coversheet" accept=".pdf"
                                            class="mr-05">
                                        <button type="button" class="secondary" id="btnClearCoversheet">❌</button>

                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-33">
                                        <label for="date_setting">Date style for PDF:</label>
                                    </td>
                                    <td class="w-67">
                                        <select class="form-control" id="date_setting" name="date_setting">
                                            <option value="YYYY-MM-DD" >2025-12-31 (YYYY-MM-DD)</option>
                                            <option value="DD-MM-YYYY" >31/12/2025 (DD/MM/YYYY)</option>
                                            <option value="MM-DD-YYYY" >12/31/2025 (MM/DD/YYYY)</option>
                                            <option value="uk_longdate" >31 December 2025 (UK Longform)</option>
                                            <option value="us_longdate" >December 31, 2025 (US Longform)</option>
                                            <option value="uk_abbreviated_date" selected>31 Dec 2025 (UK Abbreviated)(default)</option>
                                            <option value="us_abbreviated_date" >Dec 31 2025 (US Abbreviated)</option>
                                            <option value="hide_date">None (Don't include date in index)</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-33">
                                        <label for="bookmark_setting">Bookmark style for PDF:</label>
                                    </td>
                                    <td class="w-67">
                                        <select class="form-control" id="bookmark_setting" name="bookmark_setting">
                                            <option value="tab-title" selected>001. Document title (default)</option>
                                            <option value="tab-title-date" >001. Document Title (date)</option>
                                            <option value="tab-title-page" >001. Document Title [pg.1]</option>
                                            <option value="tab-title-date-page" >001. Document Title (date)[pg.1]</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="form-check-label" for="confidential_bool">Confidential?</label>
                                    </td>
                                    <td>
                                        <input type="checkbox" class="form-check-input" id="confidential_bool"
                                            name="confidential_bool">
                                        <label class="form-check-label inline-block" for="confidential_bool">Tick to add <span class="text-red">CONFIDENTIAL</span> label to index.</label>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="form-group dashed-border-blue">
                        <h4>Page Numbering Options:</h4>
                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <td class="align-top">
                                        <label for="footer_font" class="align-top">Font for footer:</label>
                                    </td>
                                    <td>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" id="footerFontSans"
                                                name="footer_font" value="sans" checked
                                                class="radio-align">
                                            <label class="form-check-label font-label font-arial" for="footerFontSans">Sans Serif Helvetica
                                            (similar to MS Arial)(Default)</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" id="footerFontSerif"
                                                name="footer_font" value="serif"
                                                class="radio-align">
                                            <label class="form-check-label font-label font-times" for="footerFontSerif">Roman Serif
                                            (Times)</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" id="footerFontMono"
                                                name="footer_font" value="mono"
                                                class="radio-align">
                                            <label class="form-check-label font-label font-courier" for="footerFontMono">Typewriter style
                                                (Courier)</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" id="footerFontTraditional"
                                                name="footer_font" value="traditional"
                                                class="radio-align">
                                            <label class="form-check-label font-label font-charter" for="footerFontTraditional">Charter (similar to MS Georgia)</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-33">
                                        <label for="page_num_align">Alignment:</label>
                                    </td>
                                    <td class="w-67">
                                        <select class="form-control" id="page_num_align" name="page_num_align">
                                            <option value="left">Left</option>
                                            <option value="centre">Centre</option>
                                            <option value="right"  selected>Right (Default)</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label for="roman_for_preface">Preface numbering:</label>
                                    </td>
                                    <td>
                                        <select class="form-control" id="roman_for_preface" name="roman_for_preface">
                                            <option value="false" selected>Index begins on page 1 (default)</option>
                                            <option value="true">Use roman numerals for preface pages</option>
                                            (default)</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label for="page_num_style">Numbering style:</label>
                                    </td>
                                    <td>
                                        <select class="form-control" id="page_num_style" name="page_num_style">
                                            <option value="x">Number only: [X] e.g. '1'</option>
                                            <option value="x_of_y">Numbers only: [X] of [Y] e.g. '1 of 100'</option>
                                            <option value="x_slash_y">Numbers with slash: [X]/[Y] e.g. '1/100'</option>
                                            <option value="page_x" selected>Page [X] e.g. 'Page 1' (default)</option>
                                            <option value="page_x_of_y">Page [X] of [Y] e.g. 'Page 1 of 100'</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="align-top">
                                        <label for="footer_prefix">Footer prefix:</label>
                                    </td>
                                    <td>
                                        <div class="form-check inline-block">
                                            <p>Optional prefix before each page number:</p>
                                            <input type="text" class="form-control" id="footer_prefix"
                                                name="footer_prefix" maxlength="30" placeholder="e.g. enter 'AB pg' for 'AB pg 1' style footer" class="w-100-box">
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                </div>

            <div class="card">
                <div class="card-header">
                    <div class="card-icon">
                        <i class="mdi mdi-cogs"></i>
                    </div>
                    <h2 class="card-title">Step 4 - Create Bundle and Download</h2>
                </div>
                <div class="card-body"></div>
                <div id="processErrorContainer"></div>
                <div id="zipExplainerContainer"></div>
                    <div id="downloadButtonContainer" class="hidden text-center pt-2">
                        <button type="button" class="dothething" id="downloadButton">
                            <i class="mdi mdi-download"></i> Download PDF Bundle
                        </button>
                        <button type="button" class="dothething" id="downloadZipButton">
                            <i class="mdi mdi-download"></i> Download ZIP Archive
                        </button>
                    </div>
                    <div class="button-group flex-center pt-2">
                        <button type="submit" class="create-button">
                            <i class="mdi mdi-content-save"></i> CREATE BUNDLE
                        </button>
                        </div>
                </div>
            </div>
        </form>
            <div class="card">
            <h2>Free and private</h2>
            <p>
                BunTool is free, open-source, and private. All files are processed on a private server and are automatically removed as soon as as your bundle is created. The bundles themselves are deleted within a few hours of creation.
                Some logs are stored, including: the number of files uploaded, the number of pages in each file, the number of bundles created, and any text input for the index. This is all just to make sure the app is functioning correctly, and diagnose any errors. Logs are deleted regularly, though less often than the main data itself.
                BunTool also logs the type of browser you're using. You can review the code on <a href="https://github.com/TrisSherliker/buntool">GitHub</a>. As with most open-source tools, it is free to use but comes with no warranty.</p>
                <p>
                    If you find this useful, have any suggestions, or need help with any errors, I'd like to hear from you. You can contact me <a href="mailto:tris@sherliker.net">by email here</a>.
                </p>
            </div>
    </div>
    <!-- Add the duplicate file popup modal -->
    <div id="duplicateModal" class="modal-overlay">
        <div class="modal-content">
            <p id="duplicateMessage"></p>
            <button id="btnCloseModal">OK</button>
        </div>
    </div>


    <footer>
        <p>&copy; 2025 Tristan Sherliker</p>
        <p>BunTool is an early development tool and is constantly being improved. If you want to get in touch, need help or have ideas for how to improve it, please contact <a href="mailto:tris@sherliker.net">tris@sherliker.net</a></p>
        </div>
</body>
</html>
